<div class="jumbotron top-image d-flex align-items-center justify-content-center">
  <div class="top-text">
    <h1 class="display-4" style="color: #fff;">
      日常に、バイクを。
    </h1>
    <p class="lead text-center pt-3 pb-3" style="color: #fff;">
      WBLifeは、バイクについての疑問や魅力を簡単に共有できます。
    </p>
    <p class="pt-2 text-center">
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary btn-raised btn-lg mr-3" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-secondary btn-raised btn-lg" %>
    </p>
  </div>
</div>